<form action="/submit" method="post">
<h4>1. In the bottom of my heart, I would like my life to be:</h4>
</h4>
<input type="radio" name="1" /> A. I can experience everything and try various interesting ideas <br />
<input type="radio" name="1" /> B. I set up reasonable targets and achieve them step by step <br />
<input type="radio" name="1" /> C. I can obtain as many achievements as possible <br />
<input type="radio" name="1" /> D. a stable life and I don't have to unnecessary risk <br />
</form>

